alabaster==0.7.10
asn1crypto==0.22.0
astropy==3.0.4
Babel==2.4.0
backcall==0.1.0
beautifulsoup4==4.5.3
Bottleneck==1.2.1
cffi==1.11.5
cloudpickle==0.5.2
cryptography==3.2
cycler==0.10.0
Cython==0.28.5
dask==0.17.4
decorator==4.3.0
docutils==0.13.1
entrypoints==0.2.3
h5py==2.7.1
healpy==1.11.0
htcondor==8.7.9
idna==2.5
imagesize==0.7.1
iminuit==1.3.3
ipykernel==4.5.0
ipython==6.5.0
ipython-genutils==0.1.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
kiwisolver==1.0.1
locket==0.2.0
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.7.1
nbconvert==4.2.0
nbformat==4.1.0
networkx==2.1
notebook==5.5.0
numexpr==2.6.8
numpy==1.14.3
packaging==17.1
pandas==0.23.4
partd==0.3.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==6.2.0
prompt-toolkit==1.0.9
ptyprocess==0.5.1
py==1.5.4
pycparser==2.18
pycurl==7.43.0
pyFFTW==0.10.4
pyfits==3.5
Pygments==2.2.0
pymongo==3.6.0
PyMySQL==0.9.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.5.2
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.19.1
scikit-image==0.12.3
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
spectrum==0.7.4
Sphinx==1.7.9
sphinx-rtd-theme==0.2.5b1
sphinxcontrib-websupport==1.0.1
tables==3.4.4
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.1
typing==3.6.1
urllib3==1.20
urwid==1.3.1
vcversioner==2.16.0.0
virtualenv==16.0.0
wcwidth==0.1.7
